@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/">Home</a>
            <AuthorizeView>
                <NotAuthorized>
                    <a href="/login-v2">login</a>
                </NotAuthorized>
                <Authorized>
                    <a href="/updateprofile-v2">Profile</a>
                    <a href="/logout-v2">logout</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
